/* Definindo variáveis de cores para facilitar a manutenção e reutilização */
:root {
    /* Cor de fundo primária para o corpo e o cabeçalho */
    --primary-bg-color: #DEDEEA;

    /* Cor de fundo secundária para áreas específicas */
    --secondary-bg-color: #8488B5;
}

/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo da navegação */
nav ul {
    list-style-type: none;
}

nav ul li a:hover {
    color: #98bfd0;
    /* Cor do texto ao passar o mouse */
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--primary-bg-color);
}

.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #555;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #ffc107;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #ffca28;
}

.btn-sair {
    background-color: #ff4500;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-sair:hover {
    background-color: #cc3700;
}