body {
    background-color: #edc51b;
}

.card {
    background-color: #ebb840;
    border: none;
}

h5 {
    color: #000;
    font-weight: bolder;
}

label {
    font-weight: bold;
    color: #000;
}

.form-control {
    background-color: #fff;
    border: 1px solid #000;
}

.btn-primary {
    background-color: #000;
    border: none;
}

.btn-secondary {
    background-color: #000;
    color: #fff;
    font-weight: bold;
}

.table-warning {
    background-color: #ffeb00;
}

.table-bordered {
    border: 1px solid #000;
}

.table-bordered th, .table-bordered td {
    border: 1px solid #000;
}

.table thead th {
    border-bottom: 2px solid #000;
}

footer {
    background-color: #000;
    padding: 1rem 0;
    text-align: center;
}

footer .rodape p {
    margin: 0;
    font-weight: bold;
}

footer .rod02 {
    color: #a6a6a6;
}

footer .rod01 {
    color: #fff;
}