body {
    background: url(img/bg-image.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-clip: border-box;
}

form {
    max-width: 200px;
    max-height: 220px;
    width: calc(40% - 20px); 
    height: calc(40vh - 20px);
    background-color: black;
    position: fixed;
    top: 50%;
    left: 45%;
    transform: translate(-58%, -45%);
}


label {
    font-weight: bold;
    color: #fff;
}

button {
    border: none;
    background-color: #fff;
    color: black;
    font-weight: bold;
    display: inline-block;
}

input {
    width: 10rem;
    padding: auto;
    border-radius: 10rem;
    border: none;
}



.rod01 {

    font-weight: bold;
    color: #fff;
}

.rod02 {
    font-weight: bold;
    color: #a6a6a6;
}